.form-style {
  border: 3px solid #4CD8E0;
  border-radius: 3px;
}

mat-label {
  color: white;
}

.input-style {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: #057589CC;
  color: white;
}

.card {
  background-color: #057589CC;
  border-radius: 5%;
  max-width: 1000px;
  margin: 10px;
  color: white;
  line-height: 1.6;
}

.card-subtitle {
  color: white;
  font-size: 20px;
}

.card-title {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.3;
  color: white;
}

h1 {
  color: white;
  font-size: 30px;
}

.test {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content:
  center space-around;
  align-items: center;
}

#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
