.form-style {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: #057589CC;
  border: 3px solid #4CD8E0;
  border-radius: 3px;
}

.input-style {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: #057589CC;
}

.card {
  background-color: #057589CC;
  border-radius: 5%;
  max-width: 1000px;
  margin: 10px;
  color: white;
  line-height: 1.6;
}

.card-subtitle {
  color: white;
  font-size: 20px;
}

.card-title {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.3;
}

.test {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content:
  center space-around;
  align-items: center;
}
