/* You can add global styles to this file, and also import other style files */
body,
html {
  background-image: url("./assets/sanctuary_hub.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.button {
  background-color: #076860CC;
  border: 3px solid #4CD8E0;
  border-radius: 3px;
}
